/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: NunitoSans;
  src: url(/rest-countries-api/src/assets/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-background: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%) --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
