button {
  border: none;
  background-color: var(--white);
  font-size: large;
  border-radius: 0.5rem;
  width: inherit;
  height: inherit;

  &:hover {
    cursor: pointer;
    background-color: var(--very-light-gray);
  }
}

.icon {
  margin-right: 1rem;
}
