.details-container {
  padding: 3rem;
}

.country-info {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 2rem;
}

.back-btn {
  width: 8rem;
  height: 3rem;
}

.key-value-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flag {
  width: 100%;
}

.border-wrapper {
  display: flex;
  gap: 1rem;
}

.border-country-btn {
  width: 8rem;
  height: 2rem;
}
