<div class="details-container">
  <app-button
    class="back-btn"
    iconSource="fa-solid fa-arrow-left-long"
    text="Back"
    (clickEmitter)="router.navigate(['/home'])"
  ></app-button>
  <div *ngIf="country$ | async as country">
    <img class="flag" [src]="country.flags.svg" />
    <div class="country-info">
      <h1>{{ country.name.official }}</h1>
      <div class="key-value-container">
        <app-key-value
          key="Population:"
          [value]="(country.population | number: '2.')!"
        ></app-key-value>
        <app-key-value key="Region:" [value]="country.region"></app-key-value>
        <app-key-value
          key="Sub Region:"
          [value]="country.subregion"
        ></app-key-value>
        <app-key-value key="Capital" [value]="country.capital"></app-key-value>
      </div>
      <div class="key-value-container">
        <app-key-value
          key="Top Level Domain:"
          [value]="country.tld"
        ></app-key-value>
        <app-key-value
          key="Currencies:"
          [value]="getCurrencies(country.currencies)"
        ></app-key-value>
        <app-key-value
          key="Languages:"
          [value]="getLanguages(country.languages)"
        ></app-key-value>
      </div>
      <div>
        <h3>Border Countries:</h3>
        <div class="border-wrapper">
          <app-button
            class="border-country-btn"
            *ngFor="let borderCountry of country.borderObjects"
            [text]="borderCountry.name"
            (clickEmitter)="clickOnBorderCountry(borderCountry.code)"
          >
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
