.filter-container {
  width: 50%;

  .selector {
    width: 100%;
    background-color: var(--white);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

@media (min-width: 375px) {
  .filter-container {
    width: 100%;
  }
}
