button {
  border: none;
  background-color: var(--white);
  font-size: large;
  padding: 0.75rem 2.5rem 0.75rem 2.5rem;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: var(--very-light-gray);
  }
}

.icon {
  margin-right: 1rem;
}
