<div class="card" (click)="onCountryCardClick(country.cca3)">
  <img
    class="country-flag"
    [src]="country.flags.svg"
    [alt]="country.flags.alt"
  />
  <div class="content">
    <h2>{{ country.name.common }}</h2>
    <app-key-value
      key="Population:"
      [value]="(country.population | number: '2.')!"
    ></app-key-value>
    <app-key-value key="Region:" [value]="country.region"></app-key-value>
    <app-key-value key="Capital:" [value]="country.capital"></app-key-value>
  </div>
</div>
