<div class="card" (click)="onCountryCardClick(country.cca3)">
  <img
    class="country-flag"
    [src]="country.flags.svg"
    [alt]="country.flags.alt"
  />
  <div class="content">
    <h2>{{ country.name.common }}</h2>
    <div class="info">
      <p>Population:</p>
      <span>{{ country.population | number: '2.' }}</span>
    </div>
    <div class="info">
      <p>Region:</p>
      <span>{{ country.region }}</span>
    </div>
    <div class="info">
      <p>Capital:</p>
      <span>{{ country.capital }}</span>
    </div>
  </div>
</div>
